
__pycache__
*.pyc
/content
/env
/v-diffusion-pytorch
/guided-diffusion-plms
/CLIP
/ResizeRight
/taming-transformers
/latent-diffusion
/latent-diffusion-old
/AdaBins
/MiDaS
/pytorch3d
/lib
/disco-diffusion
pretrained/AdaBins_nyu.pt
tools/3d/BoostingMonocularDepth
model/superres/last.ckpt/dl=1
model/superres/project.yaml/dl=1
pytorch3d-lite/
models/512x512_diffusion_uncond_finetune_008100.pt
models/dpt_large-midas-2f21e586.pt
models/secondary_model_imagenet_2.pth
models/latent_diffusion_txt2img_f8_large.ckpt
static/output
glid_3_xl/
ui/node_modules
static/data/projects/*/output/*/*.png
content/images_out
static/dist
ui/dist/media
*.Identifier
*ipynb_checkpoints*
.env
.env
.env
