<!DOCTYPE html>
<html lang="en" style="background-color: #2d383f;">
  <head>
    <meta charset="UTF-8">
    <title>Filter Mapping Data</title>
    <link rel="stylesheet" type="text/css" href="css/keylines.css">
    <link rel="stylesheet" type="text/css" href="css/minimalsdk.css">
    <link rel="stylesheet" type="text/css" href="css/sdk-layout.css">
    <link rel="stylesheet" type="text/css" href="css/demo.css">
    <link rel="stylesheet" type="text/css" href="css/leaflet.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="filtermap.css">
    <script src="vendor/jquery.js" defer type="text/javascript"></script>
    <script src="js/keylines.js" defer type="text/javascript"></script>
    <script src="js/demo.js" defer type="text/javascript"></script>
    <script src="vendor/leaflet.js" defer type="text/javascript"></script>
    <script src="filtermap.js" crossorigin="use-credentials" defer type="module"></script>
  </head>
  <body>
    <div class="chart-wrapper demo-cols">
      <div class="tab-content-panel flex1" id="lhs" data-tab-group="rhs">
        <div class="toggle-content is-visible" id="lhsVisual" style="width:100%; height: 100%;">
          <div class="klchart" id="klchart">
          </div>
        </div>
      </div>
      <div class="rhs citext closed" id="demorhscontent">
        <div class="title-bar">
          <svg viewBox="0 0 360 60" style="max-width: 360px; max-height: 60px; font-size: 24px; font-family: Raleway; flex: 1;">
            <text x="0" y="38" style="width: 100%;">Filter Mapping Data</text>
          </svg>
        </div>
        <div class="tab-content-panel" data-tab-group="rhs">
          <div class="toggle-content is-visible tabcontent" id="controlsTab">
            <p>US domestic flights by airline in 2014. Use the controls to filter the routes.</p>
            <form autocomplete="off" onsubmit="return false" id="rhsForm">
              <div class="cicontent">
                <div>
                  <div class="btn-group">
                    <input class="mapMode span2 btn" type="button" value="Map Mode" id="mapOn">
                    <input class="mapMode btn span2 btn-kl active" type="button" value="Network Mode" id="mapOff">
                  </div>
                </div><br>
                <label class="checkbox">
                  <input id="fgSelect" type="checkbox" checked><span>Show selected routes in the foreground</span>
                </label>
                <label>Show routes with more flights than: <span id="sliderDisplayValue">0</span></label>
                <fieldset>
                  <label id="slider-container">
                    <input id="flightVolumeSlider" type="range" min="0" max="18000" value="0" step="100" style="display: block;">
                  </label>
                </fieldset><br>
                <div class="row">
                  <div class="half-span">
                    <label class="checkbox">
                      <input class="airlineCheckbox" id="AA" type="checkbox" checked><span class="circle circleAA">AA</span><span> American</span>
                    </label>
                    <label class="checkbox">
                      <input class="airlineCheckbox" id="AS" type="checkbox" checked><span class="circle circleAS">AS</span><span> Alaska</span>
                    </label>
                    <label class="checkbox">
                      <input class="airlineCheckbox" id="B6" type="checkbox" checked><span class="circle circleB6">B6</span><span> JetBlue</span>
                    </label>
                    <label class="checkbox">
                      <input class="airlineCheckbox" id="DL" type="checkbox" checked><span class="circle circleDL">DL</span><span> Delta</span>
                    </label>
                    <label class="checkbox">
                      <input class="airlineCheckbox" id="EV" type="checkbox" checked><span class="circle circleEV">EV</span><span> ExpressJet</span>
                    </label>
                    <label class="checkbox">
                      <input class="airlineCheckbox" id="F9" type="checkbox" checked><span class="circle circleF9">F9</span><span> Frontier</span>
                    </label>
                    <label class="checkbox">
                      <input class="airlineCheckbox" id="FL" type="checkbox" checked><span class="circle circleFL">FL</span><span> AirTran</span>
                    </label>
                  </div>
                  <div class="half-span">
                    <label class="checkbox">
                      <input class="airlineCheckbox" id="HA" type="checkbox" checked><span class="circle circleHA">HA</span><span> Hawaiian</span>
                    </label>
                    <label class="checkbox">
                      <input class="airlineCheckbox" id="MQ" type="checkbox" checked><span class="circle circleMQ">MQ</span><span> Envoy</span>
                    </label>
                    <label class="checkbox">
                      <input class="airlineCheckbox" id="OO" type="checkbox" checked><span class="circle circleOO">OO</span><span> SkyWest</span>
                    </label>
                    <label class="checkbox">
                      <input class="airlineCheckbox" id="UA" type="checkbox" checked><span class="circle circleUA">UA</span><span> United</span>
                    </label>
                    <label class="checkbox">
                      <input class="airlineCheckbox" id="US" type="checkbox" checked><span class="circle circleUS">US</span><span> US Airways</span>
                    </label>
                    <label class="checkbox">
                      <input class="airlineCheckbox" id="VX" type="checkbox" checked><span class="circle circleVX">VX</span><span> Virgin</span>
                    </label>
                    <label class="checkbox">
                      <input class="airlineCheckbox" id="WN" type="checkbox" checked><span class="circle circleWN">WN</span><span> Southwest</span>
                    </label>
                  </div>
                </div>
                <div class="row" style="margin-top:15px">
                  <div class="span">
                    <input class="btn btn-spaced span1" type="button" value="All" id="selectAll">
                    <input class="btn btn-spaced" type="button" value="Clear" id="selectNone">
                    <input class="btn btn-spaced" type="button" value="Invert" id="selectInvert">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="moreParent">
      <div id="moreContainer">
      </div>
    </div>
    <div id="lazyScripts">
    </div>
  </body>
</html>