.klchart {
    overflow: hidden;
  }

.popover {
    display: block;
    position: absolute;
    min-width: 50px;
    margin: 0;
    pointer-events: none;
    visibility: hidden;
    background-color: #fff;
    border: 1px solid #ccc;
}

.popover-content {
    z-index: 1;
}